{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>
        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 10px;
        }
    </style>

    <title>Autor</title>
{% endblock%}

{% block content %}
    
    <a href="{% url 'criaAutor'%}" class="btn btn-success" >adicionar Autor</a>
    {% if object_list %}
    <div class="cards">
        {% for object in object_list %}
            <div class="card" style="width: 18rem;">
                <img src="{{ object.foto.url }}" class="card-img-top" alt="Foto do Autor">
                <div class="card-body">
                <h5 class="card-title">{{ object.ultimo_nome}}, {{object.primeiro_nome}}</h5>
                <a href="{% url 'detailAutor' pk=object.id%}" class="btn btn-primary">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% else %}
        <p>Nenhum autor cadastrado</p>

    {% endif %}
{% endblock %}