{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>
        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 10px;
        }

        .card {
            margin-left: 2%;
            margin-bottom: 1.5%;
        }

        .pagination {
            margin: 5% auto 0 auto;
        }
    </style>
{% endblock%}

{% block content %}
    
    <a href="{% url 'criaTCC'%}" class="btn btn-success" >adicionar TCC</a>
    {% if object_list %}
    <div class="cards">
        {% for object in object_list %}
            <div style="width: 25%;"class="card text-center">
                <div class="card-header">
                    {{ object.autor }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ object.titulo }}</h5>
                    <p style="max-height:300px;">{{object.resumo}}</p>
                    <a href="media/{{object.arquivo_documento}}" class="btn btn-primary">Leia este artigo</a>
                    <a href="{% url 'detailTCC' pk=object.id %}" class="btn btn-info" style="color: white;">Ver Dados</a>
                </div>
                <div class="card-footer text-muted">
                    {{ object.ano_documento }}
                </div>
            </div>
            {% endfor %}
    </div>
    
    <div class="pagination">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; Primeira</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">anterior</a>
                </li>
            {% endif %}
    
            {% for obj in page_obj.paginator %}
            
                <li class="page-item">
                    <a class="page-link" href="?page={{obj.number}}">{{obj.number}}</a>
                </li>

            {% endfor %}
    
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>

    {% else %}
        <p>Nenhum TCC cadastrado</p>

    {% endif %}
{% endblock %}