{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block style %}
    <title>{{ object.primeiro_nome }} {{ object.ultimo_nome }}</title>
{% endblock %}

{% block content %}
    <a href="{% url 'updateAutor' pk=object.id %}" class="btn btn-dark">atualizar Autor</a>
    <div class="page-header text-center py-3">
        <h1>{{ object.primeiro_nome }} {{ object.ultimo_nome }}</h1>
        <hr>
    </div>
    <div class="page-content" style="text-align: center;">
        <img src="{{object.foto.url}}" alt="foto do caba" width="30%" height="20%">
    </div>
    
{% endblock %}